:root {
    --fuente-1:'Raleway', sans-serif;
    --color-fondo: rgb(18, 18, 20);
    --color-borde: rgba(0, 255, 255, 0.439);
    --color-trans: rgba(0, 0, 0, 0.709);
    --color-trans-2: rgba(0, 0, 0, 0.365);

    --color-fuente-1:white;
    --color-fuente-2:grey;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family:var(--fuente-1);
    background-color: var(--color-fondo);
    color: var(--color-fuente-1);
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    background-color: var(--color-trans-2);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--color-fuente-2);
    border-radius: 4px;
}

section[id]{
    scroll-margin-top: 120px;
}

a {
    color: var(--color-fuente-1);
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

.container {
    width: 1200px;
    margin: auto;
    margin-bottom: 40px;
    z-index: 1;
}

/* nav */
nav {
    /* border: 3px solid aqua; */
    width: 100%;
    padding: 20px 0;
    text-transform: uppercase;
    position: fixed;
    background-color: var(--color-trans);
    z-index: 10;
}

nav .container {
    margin-bottom: 0;
    padding: 0 4px;
   
}

nav .container>div {
    width: 100%;
    height: 40px;
}

.logo img {
    width: 60px;
    border-radius: 50%;
}

.cont-superior{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 6px; */

}
.logo {
    height: 100%;
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 20px;
}

.logo p {
    /* color: var(--color-borde); */
    font-weight: bold;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}

.desplegable i {
    font-size: 24px;
    display: none;
}

.desplegable {
    position: relative;
    
}

.desplegable ul {
    width: 200px;
    background-color: var(--color-trans);
    /* background-color: black; */
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 0;
    display: none;
}

.desplegable ul li{
    width: 100%;
    padding:5px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}

.desplegable ul li:hover{
    background-color: var(--color-fuente-2);
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    gap: 50px;
}

.nav-menu a {
    font-weight: 700;
}

.nav-menu a:hover{
    color: var(--color-fuente-2);
}


/* Inicio */
.cont-inicio{
    background-image: url(img/img-inicio.jpg);
    background-size: cover;
    width: 100%;
    aspect-ratio: 16/7;
    margin-bottom: 60px;
}

.cont-inicio .container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos {
    text-align: center;
}

.cont-inicio h1{
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: 20px;
    color: var(--color-trans-2);
    font-weight: bold;
}

.cont-inicio h2{
    font-size: 36px;
    filter: brightness(1.75);
    color: rgb(0, 221, 255);
}

.cont-inicio #efecto-escritura{
    color: var(--color-fuente-1);
    font-size: 28px;
}

.cont-inicio .logos-redes{
    margin-top: 50px;
    padding: 10px;
    background-color: var(--color-trans-2);
    border-radius: 40px;
}

.cont-inicio .logos-redes ul{
    display: flex;
    gap: 20px;
    font-size: 32px;
}




/*seccion VST*/

.box-vst{
    width: 100%;
    display: flex;
    gap: 40px;
    margin-bottom: 100px;
}

.img-vst img{
    width: 400px;
    vertical-align: middle;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.nombre-vst{
    margin-bottom: 10px;
}

.mas-y-descargar{
    display: flex;
    justify-content: space-between;
}

.descripcion-vst .btn{
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--color-trans);
    border: 1px solid var(--color-fuente-2);
}

.descargar-vst{
    display: none;
    /* float: right; */
    width: 300px;
    text-align: center;
    
    
}

.texto-desplegable{
    display: none;
}

/* contacto */

.cont-box-contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacto-info {
    width: 400px;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
    border-left: 1px solid gray;
}

.contacto-form {
    width: 400px;
}

.contacto-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacto-form form input{
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
}

.contacto-form form input,
.contacto-form form textarea{
    border-radius: 4px;
    font-size: 16px;
}




/* footer */

footer {
    background-color: var(--color-trans);
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

footer .textos {
    display: flex;
    gap: 40px;
}

footer .textos p {
    font-size: 14px;
}

footer .textos span {
    font-weight: bold;
    color: gray;
}

/* RESPONSIVE */

@media(max-width:1200px) {
    .container {
        width: 98%;
    }
}

@media(max-width:980px) {
    .nav-menu {
        display: none;
    }
    .desplegable i {
        display: inline-block;
    }

}


@media(max-width:900px){
    .container{
        width: 90%;
    }

   .box-vst{
    flex-direction: column;
    align-items: center;
    
   }
}


@media(max-width:800px) {
    .cont-inicio h1{
        font-size: 40px;
    }
    
    .cont-inicio h2{
        font-size: 32px;
        height: 80px;
        display: flex;
        flex-direction: column;
    }
    
    .cont-inicio #efecto-escritura{
        font-size: 22px;
    }
    
   
.cont-box-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    border-top: 1px solid gray;
}


}

@media(max-width:700px){
    .cont-spotify .spotify{
        width: 90%;
        margin: auto;
    }
    
    .cont-spotify .mensaje{
        display: none;
    }
    
}
